*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    width: 100vw;
    height: 100vh;
    background: #BBE8F5;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.container {
    background: #FFFFFC;
    width: 460px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-radius: 25px;
    border-right: 1px solid #99CBDC;
    border-bottom: 1px solid #99CBDC;
    border-left: 1px solid #99CBDC;
    margin: auto;
    box-shadow: 0px 14px 29px #7aa3b1;
}

.title {
    width: 100%;
    font-size: 18px;
    font-weight: lighter;
    color: #002D3B;
}

p {
    font-weight: 550;
    margin-bottom: 7px;
    color: #002D3B;
}

form {
    width: 100%;
}

.datasheader {
    margin-left: 5px;
}

.fieldset1 input {
    width: 145px;
    height: 25px;
    border: 1px solid #C9D9DB;
    border-radius: 5px;
}

fieldset {
    width: 100%;
    background: #C3E9EB;
    border-radius: 15px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 10px;
    margin-top: 20px;
    border: none;
}

.fieldset2 .job {
    margin-bottom: 7px;
}



.inputs {
    margin: 2px;
}
.inputs #name {
    margin-left: 8px;
}

.inputCity select {
    height: 27px;
    margin: 3px;
    border: 1px solid #C9D9DB;
    border-radius: 5px;
}

.data1>div, .data2> div {
    margin-bottom: 7px;
}

.data2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.data1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 0 5px 0px;
    margin-top: 7px;
}

.inputs2 {
    margin-right: 10px;
    display: flex;
    flex-direction: row;
}

.inputs2 label {
    margin-left: 6px;
    font-size: 14.6px;
}

.inputs2 label input {
    margin-right: 4px;
   
}

.inputs2 label input:checked {
    accent-color: #1463C1;
}

.titles {
    margin-left: 5px;
}

.subtitle {
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
}

.curriculo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.curriculo label{
    margin-right: 0px;
    margin-top: 15px;
    width: 40%;
    margin-left: 5px;
}

textarea {
    width: 100%;
    border: 0.5px solid #C9D9DB;
    border-radius: 6px;
    padding: 3px;
}

.botoes {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 13px ;
}

.botoes input {
    color: white;
    background: #1463C1;
    height: 30px;
    width: 70px;
    border: 1px solid #C9D9DB;
    border-radius: 6px;
    margin-right: 5px;
    opacity: 1;
    transition: all 0.5s;
}

.botoes button {
    color: black;
    background: #EAEEED;
    height: 30px;
    width: 70px;
    border: 1px solid #C9D9DB;
    border-radius: 6px;
    margin-right: 5px;
    opacity: 1;
    transition: all 0.5s;
}

.botoes input:hover {
    opacity: 0.8;
    transition: all 0.5s;

}
.botoes button:hover {
    opacity: 0.8;
    transition: all 0.5s;

}